<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betting Website</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <h1>Xbet</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/promo">Bonus</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/terms">Terms and Conditions</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="betting-games">            
            <div class="games-grid">
                <a href="/color-prediction">
                    <div class="game-card bingo">
                        <h3>Bingo Game</h3>
                    </div>
                </a>
                <a href="/keno">
                    <div class="game-card keno">
                        <h3>Keno Game</h3>
                    </div>
                </a>
                 <a href="/dice">
                    <div class="game-card dice">
                        <h3>Dice Game</h3>
                    </div>
                </a>
                <a href="/horse">
                    <div class="game-card horse">
                        <h3>Horse Betting</h3>
                    </div>
                </a>
                <a href="/lottery">
                    <div class="game-card lottery">
                        <h3>Lottery Game</h3>
                    </div>
                </a>
                <a href="/fantasy">
                    <div class="game-card fantasy">
                        <h3>Fantasy Sports</h3>
                    </div>
                </a>
                <a href="/casino">
                    <div class="game-card casino">
                        <h3></h3>
                    </div>
                </a>
                <a href="/sports">
                    <div class="game-card sports">
                        <h3>Sports Betting</h3>
                    </div>
                </a>
                <a href="/teen-patti">
                    <div class="game-card teen-patti">
                        <h3>Teen Patti</h3>
                    </div>
                </a>
                <a href="/espot">
                    <div class="game-card espot">
                        <h3>E Spot</h3>
                    </div>
                </a>
                <a href="/aviator">
                    <div class="game-card aviator">
                        <h3>Aviator Game</h3>
                    </div>
                </a>
                <a href="/odd_even">
                    <div class="game-card odd-even">
                        <h3>Odd/Even Game</h3>
                    </div>
                </a>
            </div>
        </section>
    </main>
    <hr>
    <footer>
       
        <div class="footer-links">
            <p>
                <a href="/terms">Terms and Conditions</a> | 
                <a href="/privacy">Privacy Policy</a> | 
                <a href="/security">Security</a>
            </p>
        </div>
    </footer>
</body>
</html>
